@import "tailwindcss";

:root {
  --dark:#111111 ;
  --dark-alternate: #1B1918;
  --primary: #FF5F3F;
  --primary-light:#F4EBEB ;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);
}

html {
  overflow-x: hidden;
}

* {
  font-family: var(--font-poppins);
}

/* input group */
.input-group {
  @apply mb-5;
}

.input-group label {
  @apply block text-xs mb-1;
}

.input-group input,
.input-group textarea {
  @apply px-4 py-2.5 bg-gray-100 w-full focus:border focus:border-gray-400 outline-none text-sm;
}

/* input grup admin */

/* input group */
.input-group-admin{
  @apply mb-5;
}

.input-group-admin label{
  @apply block text-xs mb-1
}

.input-group-admin input,
.input-group-admin select,
.input-group-admin textarea{
  @apply px-4 py-2.5 w-full border border-gray-200 rounded-md focus:border-gray-400 outline-none text-sm
}