@import "tailwindcss";

:root {
  --dark:#111111 ;
  --dark-alternate: #1B1918;
  --primary: #FF5F3F;
  --primary-light:#F4EBEB ;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);
}

* {
  font-family: var(--font-poppins);
}